@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Dosis';
  src: url('../fonts/Dosis/Dosis-Regular.ttf') format('truetype');
}