@import './fonts.scss';
@import './../../bootstrap/bootstrap';
body {
  font-family: Roboto, sans-serif;
}
.wrapper {
  min-width: 1470px;
  .top_header {
    background: #fff;
    box-shadow: 0 0 11px rgba(4, 17, 51, 0.11);
    .row {
      height: 60px;
    }
    &__logo {
      font-family: 'Dosis', sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 25px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #041133;
      margin-left: 15px;
    }
    &__btn_small_orange {
      background: url(../images/btn_small_orange.svg) 0 0 no-repeat;
      width: 150px;
      height: 30px;
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      padding-top: 5px;
    }
    nav {
      a {
        font-size: 14px;
        line-height: 20px;
        color: #041133;
        opacity: 0.7;
        margin: 0 15px;
        text-decoration: none;
      }
    }
    &__burger {
      cursor: pointer;
      &_one {
        width: 16px;
      }
      &_two {
        width: 20px;
      }
      &_three {
        width: 11px;
      }
      &_item {
        background: #6783fe;
        border-radius: 2px;
        height: 2px;
        display: block;
        margin: 4px;
      }
    }
  }
  .header {
    &__text_item {
      a {
        color: #6783fe;
      }
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.02em;
    }
    &__text_item_one {
      width: 169px;
      height: 65px;
      left: 135px;
      top: 562px;
    }
    &__text_item_two {
      width: 170px;
      height: 65px;
      left: 438px;
      top: 562px;
    }
    &__text_item_three {
      width: 222px;
      height: 65px;
      left: 135px;
      top: 652px;
    }
    &__btn_big_orange {
      background: url(../images/btn_big_orange.svg) 0 0 no-repeat;
      width: 180px;
      height: 50px;
      cursor: pointer;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      padding-top: 15px;
      left: 18%;
      top: 45%;
    }
    &__logo {
      font-family: Dosis, sans-serif;
      font-weight: bold;
      font-size: 25px;
      line-height: 25px;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #041133;
      width: 120px;
      height: 25px;
      left: 30px;
      top: 18px;
    }
    p {
      font-size: 16px;
      line-height: 25px;
      width: 508px;
      height: 65px;
      left: 135px;
      top: 322px;
    }
    h3 {
      font-family: YanoneKaffeesatz, sans-serif;
      font-size: 52px;
      line-height: 55px;
      letter-spacing: 0.01em;
      color: #041133;
      width: 502px;
      height: 110px;
      left: 135px;
      top: 178px;
    }
    &__banner {
      background: url(../images/header__banner.svg) 0 0 no-repeat;
      height: 900px;
    }
    nav {
      padding: 10px 10px 0 0;
      a {
        font-size: 14px;
        line-height: 20px;
        color: #041133;
        opacity: 0.7;
        margin: 0 15px;
        text-decoration: none;
      }
    }
    &__burger {
      cursor: pointer;
      &_one {
        width: 16px;
      }
      &_two {
        width: 20px;
      }
      &_three {
        width: 11px;
      }
      &_item {
        background: #6783fe;
        border-radius: 2px;
        height: 2px;
        display: block;
        margin: 4px;
      }
    }
  }
}